<h1>Pages#contact</h1>

<p><%= number_to_phone "4359947424" %> </p>

<p><%= number_to_currency "150" %> </p>

<p><%= number_to_percentage "80.4" %> </p>

<p><%= number_with_delimiter "1503874456754" %> </p>
